<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entfrm.biz.system.mapper.ShortcutMapper">

    <resultMap type="Shortcut" id="ShortcutResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="region"    column="region"    />
        <result property="icon"    column="icon"    />
        <result property="path"    column="path"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

</mapper>
